<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration debug="true">-->
<!--    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>-->

<!--    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>logstash:5000</destination>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--            <customFields>{"app":"medical-clinic","environment":"development"}</customFields>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <root level="INFO">-->
<!--        <appender-ref ref="LOGSTASH"/>-->
<!--    </root>-->
<!--</configuration>-->

<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <springProfile name="!local">
        <root level="INFO">
            <appender-ref ref="LOGSTASH" />
        </root>
    </springProfile>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

</configuration>